.Board-margin {
    margin: 30px;
}

/* Create two equal columns that floats next to each other */
.Board-column {
    float: left;
    width: 48%;
    padding: 10px;
  }

  .Board-row:after {
    content: "";
    display: table;
    clear: both;
  }